<div id="<%= dom_id soccer_player %>">
  <p>
    <strong>Name:</strong>
    <%= soccer_player.name %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= soccer_player.number %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= soccer_player.team_id %>
  </p>

</div>
