<h1>Editing soccer player</h1>

<%= render "form", soccer_player: @soccer_player %>

<br>

<div>
  <%= link_to "Show this soccer player", @soccer_player %> |
  <%= link_to "Back to soccer players", soccer_players_path %>
</div>
