@import './base.css';

#app {
  width: 100%;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgb(189, 0, 25);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(352, 100%, 37%, 0.2);
  }
}

@media (min-width: 15px) {
  body {
    display: flex;
    place-items: center;
  }
}
